<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="360">
        <p>Lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendras Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis Compras</a></li>
        </ul>
        <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="400">
    </header>
    <main>
        <section>
            <ul>
                <li>
                    <h2>Sección: Basado en tu última visita</h2>
                </li>

                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360">
                <p>$6.770<br>
                    40% OFF<br>
                    <strong>Cafetera Moulinex</strong>
                </p>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360">
                <p>$230.000<br>
                    20% off<br>
                    <strong>MacBook Pro 2019</strong>
                </p>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360">
                <p>$70.500<br>
                    10% off<br>
                    <strong>Samsung Galaxy S10</strong><br>
                </p>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="360">
                <p>$23.200<br>
                    5% off<br>
                    <strong>SmartTv Samsung 43"</strong>
                </p>

                <li>
                    <h2>Sección de Ofertas </h2>
                </li>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360">
                <p>$6.770<br>
                    40% OFF<br>
                    <strong>Cafetera Moulinex</strong>
                </p>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="360">
                <p>$230.000<br>
                    20% off<br>
                    <strong>MacBook Pro 2019</strong>
                </p>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360">
                <p>$70.500<br>
                    10% off<br>
                    <strong>Samsung Galaxy S10</strong><br>
                </p>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="360">
                <p>$23.200<br>
                    5% off<br>
                    <strong>SmartTv Samsung 43"</strong>
                </p>
            </ul>
        </section>
    </main>
    <footer>
        <div><b>Pagá con tarjeta o en efectivo</b></div><br>
        <div>Con Mercado Liebre Cash, tenés cuotas sin</div>
        <div>interés con tarjeta o efectivo en puntos de </div>
        <div>pago. ¡Y siempre es seguro!</div><br>
        <div><b>Envío gratis desde $ 2.500</b></div><br>
        <div>Solo por estar registrad@ en Mercado Liebre</div>
        <div>tenés envíos gratis en miles de productos. Es</div> 
        <div>un beneficio de Mercado Puntos.</div><br>
        <div><b>Seguridad, de principio a fin</b></div><br>
        <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre</div>
        <div>no hay nada que no puedas hacer porque estás</div> 
        <div>siempre protegid@.</div><br>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </footer>
</body>

</html>