<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,700&family=Work+Sans:wght@200;400;700&display=swap');
    </style>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b5655ac62e.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="register__main">
        <form action="/" method="GET" class="register__main__form">
            <div class="register__main__form__div">
                <input type="text" name="name" placeholder="Nombre y apellido" class="register__main__form__div--barra">
            </div>
            <div class="register__main__form__div">
                <input type="text" name="userName" placeholder="Nombre de usuario"
                    class="register__main__form__div--barra">
            </div>
            <div class="register__main__form__div">
                <input type="date" name="date" placeholder="Fecha de nacimiento"
                    class="register__main__form__div--barra">
            </div>
            <div class="register__main__form__div">
                <input type="text" name="adress" placeholder="Domicilio" class="register__main__form__div--barra">
            </div>
                <h4>Perfil de usuario:</h4>
            <div class="register__main__form__div--radio">
                <input type="radio" name="radio" id="comprador"><label for="comprador">Comprador</label>
                <input type="radio" name="radio" id="vendedor"><label for="vendedor">Vendedor</label>
            </div>
                <h4>Intereses:</h4>
            <div class="register__main__form__div--intereses">
                <div class="register__main__form__div--intereses-checkbox"><input type="checkbox" name="electro"
                        id="electro"><label for="electro">Electro</label></div>
                <div class="register__main__form__div--intereses-checkbox"><input type="checkbox" name="moda"
                        id="moda"><label for="moda">Moda</label></div>
                <div class="register__main__form__div--intereses-checkbox"><input type="checkbox" name="hogar"
                        id="hogar"><label for="hogar">Hogar</label></div>
                <div class="register__main__form__div--intereses-checkbox"><input type="checkbox" name="jugueteria"
                        id="jugueteria"><label for="jugueteria">Jugueteria</label></div>
                <div class="register__main__form__div--intereses-checkbox"><input type="checkbox" name="vidaSana"
                        id="vidaSana"><label for="vidaSana">Vida sana</label></div>
            </div>
            <div class="register__main__form__div">
                <h4>Foto de usuario:</h4>
                <input type="file" name="userPicture" accept="jpg" class="register__main--button-file">
            </div>
            <div class="register__main__form__div">
                <input type="password" name="password" class="register__main__form__div--barra"
                    placeholder="Contraseña">
            </div>
            <div class="register__main__form__div">
                <input type="password" name="password" class="register__main__form__div--barra"
                    placeholder="Confirmar contraseña">
            </div>
            <div>
                <a href="/"><button class="register__main--button">Enviar</button></a>
            </div>
            <div>
                <button type="reset" name="reiniciar" class="register__main--button">Reiniciar</button>
            </div>
        </form>
    </main>
</body>
</html>