:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
    --tipografiaRoboto: 'Roboto', sans-serif;
    --cuerpoDeTexto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--tipografiaRoboto);
}

a {
    text-decoration: none;
}

