/* HEADER */

.home__header {
    background-color: var(--Amarillo);
    padding: 20px;
}

.home__header--top-bar {
    display: flex;
    flex-direction: column;
}

.home__header--logo-mercado-liebre {
    width: 50%;
}

.home__header--barra-de-busqueda {
    width: 50%;
    padding: 3px;
}

.home__header--lupa {
    background-color: white;
    color: black;
    display: block;
    border: solid 1px grey;
    border-radius: 20%;
    max-width: 17px;
    max-height: 20px;
    font-size: 15px;
    box-sizing: content-box;
}

.home__header--h2 {
    font-weight: 400;
    text-align: center;
    font-size: small;
    margin: 20px 0;
}

.home__header--burguer-menu {
    background-color: var(--Azul);
    color: white;
    display: block;
    max-width: 40px;
    max-height: 40px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    margin: auto;
    line-height: 0.7;
}

.home__header__nav {
    display: none;
}

.home__header__nav ul {
    list-style: none;
}


/* MAIN */

.home__main {
    text-align: center;
    width: 100%;
    background-color: #ebebeb;
}

.home__main--banner {
    width: 100vw;
}

.home__main__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home__main__h2 {
    font-size: var(--titulares);
}

.home__main__section__article {
    margin-bottom: 10px;
}

.home__main__section__div--box {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    margin: 10px 10px 0 10px;
    background-color: white;
}


.home__main__section__div--precio {
    font-size: var(--precio);
}

.home__main__section__div--descuento {
    font-size: var(--descuentos);
}

.home__main__section__div--descripcion {
    font-size: var(--descripciones);
}

/* FOOTER */

.home__footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.home__footer--iconos-sobre-h3 {
    color: var(--Celeste);
    font-size: 25px;
}

.home__footer__h3 {
    margin: 0;
}

.home__footer p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: var(--cuerpoDeTexto)
}

.home__footer-copyright {
    text-align: left;
}

@media (max-width: 425px) {

    /* HEADER */
    .home__header__div {
        display: none;
    }

    /* MAIN */
    .home__main__section--img {
        width: 100%;
    }

    .home__main__section__div--descripcion {
        display: none;
    }

}


@media (min-width:426px) {

    /* HEADER */

    .home__header--top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .home__header--barra-de-busqueda {
        display: flex;
        align-items: center;
    }

    .home__header--h2 {
        max-width: 350px;
        text-align: right;
    }

    .home__header--burguer-menu {
        display: none;
    }

    .home__header__nav {
        display: flex;
        justify-content: space-between;
    }

    .home__header__nav ul {
        display: flex;
    }

    .home__header__nav li {
        display: flex;
        margin: 0 5px;
    }

    /* MAIN */

    .home__main__section {
        display: flex;
        flex-direction: row;
    }    

    .home__main__section--img {
        width: 100%;
    }

    .home__main__section__div--box {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


}


@media (min-width:767px) {
    /* HEADER */

    .home__header--top-bar {
        max-width: 1200px;
        margin: auto;
    }

    .home__header__nav {
        max-width: 1200px;
        margin: auto;
    }

    .home__header--logo-mercado-liebre {
        width: 200px;
    }

    .home__header--barra-de-busqueda input{
        border: none;
        border-radius: 3px;
        width: 100%;
        padding: 10px;
    }

    .home__header--lupa {
        display: none;
    }

    .home__header--h2 {
        max-width: none;
    }

    .home__header__nav {
        margin-top: 20px;
    }

    .home__header__nav li {
        display: flex;
        margin: 0 10px;
    }

    .home__header__nav a {
        font-size: 16px;
    }

    /* MAIN */
    
    .home__main__section {
        display: flex;
        flex-direction: row;
    }

    .home__main__section__div--box {
        width: 47vw;
    }

    .home__main__section--img {
        width: 100%;
    }



}

@media (min-width:1024px) {

    .home__main__section {
        display: flex;
    }

    .home__main__section__div--box {
        width: 23vw;
    }
}